#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.universe {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0px;
    position: relative;
}

.body {
	border-radius: 50%;
    position: absolute;
}